networks:
  ollama_network:
    driver: bridge

services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_API_BASE_URL=http://ollama:11434
    depends_on:
      - ollama
    volumes:
      - open-webui-data:/app/backend/data
    restart: unless-stopped
    networks:
      - ollama_network

  ollama:
    image: ollama/ollama:latest
    ports:
      - "0.0.0.0:11434:11434"
    volumes:
      - ./volumes:/root/.ollama
    networks:
      - ollama_network

volumes:
  open-webui-data:
